{% extends 'base.html' %}
{% block title %}User App - Home{% endblock %}
{% block body %}

<h1>User MVC site</h1>
<h2>Default Page</h2>
<h3>Command Examples:</h3>
<ul>
<li>CREATE: /create/e/ignacy@prtl.dev/fn/Ignacy/ln/T./p/PrtlGames</li>
<li>CREATE: /index.php?command=create&e=ignacy@prtl.dev&fn=Ignacy&ln=T.&p=PrtlGames</li>
<li>CREATE: /index.php?command=create&e=email6.dev&fn=first1&ln=last1&p=oassword1&type=json</li>
<li>CREATE: /create/e/ignacy7@prtl.dev/fn/Ignacy/ln/T./p/PrtlGames/type/json</li>
<li>READ: read/id/100</li>
<li>READ: index.php?command=read&id=100</li>
<li>READ json output: /read/id/6/type/json</li>
<li>READ json output: /index.php?command=read&id=6&type=json</li>
<li>UPDATE: /update/e/ignacy@prtl.dev/fn/Ignacy/ln/T./p/PrtlGames/id/100</li>
<li>UPDATE: /index.php?command=update&e=ignacy@prtl.dev&fn=Ignacy&ln=T.&p=PrtlGames&id=100</li>
<li>UPDATE: /index.php?command=update&e=ignacy8@prtl.dev&fn=Ignacy&ln=T.&p=PrtlGames&id=6&type=json</li>
<li>UPDATE: /update/e/ignacy@prtl.dev/fn/Ignacy/ln/T./p/PrtlGames/id/6/type/json</li>
<li>DELETE: /delete/id/100</li>
<li>DELETE: /index.php?command=delete&id=100</li>
<li>DELETE: /index.php?command=delete&id=4&type=json</li>
<li>DELETE: /delete/id/13/type/json</li>
<li>INDEX (list all): /index</li>
<li>INDEX (list all) json output: /index/type/json</li>
<li>INDEX (list all): /index.php?command=index</li>
<li>INDEX (list all): /index.php?command=index&type=json</li>
<li>NON VALID ROUTE EXAMPLE: /AnythingElse</li>
<li>NON VALID ROUTE EXAMPLE: /index.php?command=AnythingElse</li>
<li>DEFAULT PAGE / HOST: example: localhost</li>
<li>DEFAULT PAGE / HOST: example: localhost/index.php</li>
</ul>

{% endblock %}